<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    {%- assign lang = page.lang | default: site.lang -%}
    {%- assign t = site.data.i18n[lang] -%}

    <h2 class="footer-heading">{{ t.site_title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">{{ t.site_title | escape }}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- t.description | escape -}}</p>
      </div>
    </div>

  </div>

  <button type="button" class="back-to-top" id="back-to-top" aria-label="{{ t.back_to_top }}">↑</button>

</footer>
