---
layout: page
# All the Tags of posts (filtered by current language)
---

{% include lang.html %}

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign lang_posts = site.posts | where: 'lang', lang %}
  {% assign tag_list = '' | split: '' %}

  {% for post in lang_posts %}
    {% for tag in post.tags %}
      {% assign tag_list = tag_list | push: tag %}
    {% endfor %}
  {% endfor %}

  {% assign sorted_tags = tag_list | uniq | sort_natural %}

  {% for t in sorted_tags %}
    <div>
      <a class="tag" href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
        {{ t -}}
        <span class="text-muted">{{ lang_posts | where_exp: 'post', 'post.tags contains t' | size }}</span>
      </a>
    </div>
  {% endfor %}
</div>
