---
layout: page
# All the Tags of posts (filtered by current language)
---

{% include lang.html %}

{% assign _lang_prefix = "" %}
{% if lang != site.lang %}
  {% assign _lang_prefix = "/" | append: lang %}
{% endif %}

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign lang_posts = site.posts | where: 'lang', lang %}
  {% assign tag_list = '' | split: '' %}

  {% for post in lang_posts %}
    {% for tag in post.tags %}
      {% assign tag_list = tag_list | push: tag %}
    {% endfor %}
  {% endfor %}

  {% assign sorted_tags = tag_list | uniq | sort_natural %}

  {% for t in sorted_tags %}
    {% assign _tag_slug = t | slugify | url_encode %}
    {% assign _cnt = 0 %}
    {% for p in lang_posts %}
      {% if p.tags contains t %}
        {% assign _cnt = _cnt | plus: 1 %}
      {% endif %}
    {% endfor %}
    <div>
      <a class="tag" href="{{ _lang_prefix | append: '/tags/' | append: _tag_slug | append: '/' | relative_url }}">
        {{ t -}}
        <span class="text-muted">{{ _cnt }}</span>
      </a>
    </div>
  {% endfor %}
</div>
